/* Estilização das tags */
/* main {
    width: 100%;
    height: 100%;
} */
/* Estilização das class */
.itemEmpresas {
    background-color: #FFFFFF;
    color: #23561b;
    justify-content: center;
    align-items: center;
	text-align: center;
    margin: 20px;
    padding: 5px;
    width: 275px;
    height: 275px;
    border-radius: 10px;
}
.itemHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFFFFF;
    font-size: 48px;
    margin: 10px;
}
.itemHeader button {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Averia Libre';
    padding: 12px;
    margin-right: 20px;
    background-color: #23561b;
    border-radius: 5px;
}
.itemHeader button:hover {
    background-color: #23561b;
    cursor: pointer;
	transform: scale(1.1);
    transition: all 0.5s;
}
/* Estilização das divs */
#CardEmpresas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 20px;
    padding-right: 20px;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
