@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
    font-family: "Averia Libre", cursive;
    padding: 0px;
    margin: 0;
    border: 0;
    background-color: #DBD3C6;
    height: 100%;
}

/* Estilização das class */
.itemProdutos {
    background-color: #FFFFFF;
    color: #23561b;
    text-align: center;
    margin: 20px;
    padding: 5px;
    max-width: 275px;
    height: 350px;
    border-radius: 10px;
}
.itemProdutos button {
    background-color: #23561b;
	width: 100px;
	height: 25px;
	border: none;
	color: #FFFFFF;
    margin-bottom: 5px;
    border-radius: 5px;
}
.itemProdutos span {
    border: 1px solid blue;
}
.itemHeader {
    text-align: center;
    color: #FFFFFF;
    font-size: 48px;
    margin: 10px;
}
.itemHeader img {
    margin-top: 5px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

/* Estilização das ids */
#header {
    background-color: #000040;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
#logo {
    color: #00ff01;
}

/* Estilização das tags */
table {
    width: 100%; /* A tabela ocupará a largura total do PDF */
    table-layout: fixed; /* Evita que as células se expandam demais */
}
td {
    width: 33%; /* Cada célula ocupará cerca de um terço da largura */
    padding: 10px; /* Adicione preenchimento entre as células, conforme necessário */
    vertical-align: top; /* Alinhe o conteúdo no topo da célula */
}
