input {
	width: 300px;
	height: 48px;
	margin-bottom: 20px;
	color: #23561b;
	font-size: 36px;
    font-family: 'Averia Libre';
}
label {
	color: #FFFFFF;
	font-size: 36px;
}
textarea {
    color: #23561b;
	font-size: 36px;
    font-family: 'Averia Libre';
    width: 300px;
}
form {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
}
/* ESTILIZAÇÃO DAS IDS*/
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#imagem {
    display: none; /* Esconde o input file nativo */
}
#selecaoImagem {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
}  
#selecaoImagem label {
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Averia Libre';
    padding: 12px;
    margin: 5px;
    background-color: #23561b;
    border-radius: 5px;
}
  
#imagem::-webkit-file-upload-button {
    visibility: hidden;
}

#botao-cadastrar {
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Averia Libre';
    padding: 12px;
    margin: 20px;
    background-color: #23561b;
    border-radius: 5px;
}
#botao-cancelar {
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Averia Libre';
    padding: 14px;
    margin: 20px;
    background-color: #f84848;
    border-radius: 5px;    
}
#conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}
#marca {
    color: #23561b;
	font-size: 36px;
    font-family: 'Averia Libre';
    width: 307px;
}
#divBotoes {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 140px;
	margin-bottom: 50px;
}
#popUp {
	width: 600px;
	background-color: #FFFFFF;
	position: absolute;
	top: calc(100vh / 2 - 100px);
	left: calc(100vw / 2 - 300px);
	display: none;
	border: 0.5px solid grey;
	border-radius: 5px;
}
#popUp span {
	font-size: 26px;
	color: #f84848;
	margin-left: 30px;
	margin-top: 200px;
}
#btnSim {
    cursor: pointer;
	height: 65px;
	width: 200px;
	background-color: #f84848;
	color: #FFFFFF;
	font-size: 30px;
    font-family: 'Averia Libre';
	border-radius: 5px;
}
#btnSim:hover {
    cursor: pointer;
	transform: scale(1.1);
    transition: all 0.5s;
}
#btnCancelar {
    cursor: pointer;
	height: 65px;
	width: 200px;
	background-color: #23561b;
	color: #FFFFFF;
	font-size: 30px;
    font-family: 'Averia Libre';
	border-radius: 5px;
}
#btnCancelar:hover {
    cursor: pointer;
	transform: scale(1.1);
    transition: all 0.5s;
}
/* ESTILIZAÇÃO DAS CLASS*/
.itemHeader {
    color: #FFFFFF;
    font-size: 48px;
    margin: 10px;
}
.itemHeader button {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Averia Libre';
    padding: 12px;
    margin-right: 20px;
    background-color: #23561b;
    border-radius: 5px;
}
.div-labels {
    padding-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start;
	width: 100%;
}
.left {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 50%;
	padding-right: 20px;
}
.rigth {
	width: 50%;
}